html, body{
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	background: url("Assets/backdrop.png") no-repeat;
	background-size: 100% 100%;
}

@media (max-width: 1100px) {
	body {
		background-size: 1100px 100%;
		background-position: 50% 0;
	}
}

div#clouds {
	height: 50%;
}

/*Tower*/

div#main {
	position: absolute;
	bottom: 125px;
	width: 100%;
	height: 50%;
	z-index: -200;
}

#main #base {
	position: absolute;
	bottom: 0%;
	height: 25%;
	width: 100%;
}

#base img {
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 170px;
}

#main #tower {
	position: relative;
	left: 50%;
	width: 100%;
	height: 100%;
}

#tower #tower-container {
	position: absolute;
	width: 560px;
	height: 100%;
	left: -280px;
	bottom: 0%;
	text-align: center;
}

.center {
	position: absolute;
	width: 100%;
}

.block img{
	box-shadow: 0px 0px 25px;
}

#central-block, #left-block, #right-block, #admin-entry {
	bottom: -4px;
}

#central-block img{
	width: 148.8px;
	height: 200px;
}

#admin-entry img{
	width: 124px;
	height: 72px;
}

#tower-container #box-outline {
	bottom: 80px;
}

#box-outline img {
	width: 116px;
	height: 96px;
}

#tower-container #left-block {
	left: -142.4px;
}

#admin-windows-left {
	bottom: 8px;
	left: -142.4px;
}

#tower-container #right-block {
	right: -142.4px;
}

#admin-windows-right {
	bottom: 8px;
	right: -142.4px;
}

#left-block img, #right-block img {
	width: 136px;
	height: 220px;
}

#admin-windows-left img, #admin-windows-right img {
	width: 120px;
	height: 192px;
}

#tower-container #spire {
	bottom: 172px;
	z-index: -300;
}

#spire img {
	width: 120px;
	height: 296px;
}


#tower-container #decor {
	bottom: 212px;
}

#decor img {
	width: 108px;
	height: 264px;
}


#tower-container #face {
	bottom: 336.8px;
	left: -1px;
}

#face img {
	width: 88px;
	height: 128px;
}


#tower-container #dials {
	bottom: 356px;
}

#dials img {
	width: 48px;
	height: 24px;
}

/*#clouds img {
	width: 100px;
	height: 70px;
}

to change nth child 
to add z-indices

#clouds div {
	position: absolute;
	right: -300px;
	-webkit-animation: cloud-move linear infinite;
	animation: cloud-move linear infinite;
}

#clouds div:first-child {
	top: 40%;
	-webkit-animation-duration: 25s;
	-webkit-animation-delay: 3s;
	animation-duration: 25s;
	animation-delay: 3s;
}

#clouds div:nth-child(2) {
	top: 22%;
	-webkit-animation-duration: 32s;
	-webkit-animation-delay: 9s;
	animation-duration: 32s;
	animation-delay: 9s;
}

#clouds div:last-child {
	top: 5%;
	-webkit-animation-duration: 20s;
	-webkit-animation-delay: 8.1s;
	animation-duration: 20s;
	animation-delay: 8.1s;
}

@-webkit-keyframes cloud-move {
	to {right: 100%;}
}
@keyframes cloud-move {
	to {right: 100%;}
}

/*
div#center {
	text-align: center;
	width: 100%;
	height: 100px;
}

#center div {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: -3;
	-webkit-animation: towerPopIn 1s cubic-bezier(0.215, 0.910, 0.355, 1.000) 5s;
	-webkit-animation-fill-mode: forwards;
	animation: towerPopIn 0.9s cubic-bezier(0.215, 0.910, 0.355, 1.000) 5s;
	animation-fill-mode: forwards;
}

#center div img {
	position: relative;
	left: -50%;
}

@-webkit-keyframes towerPopIn {
	50% { top: -10%; }
	67% { top: 10%; }
	82% { top: 0%; }
	100% { top: 7%; }
}
@keyframes towerPopIn {
	50% { top: -10%; }
	67% { top: 10%; }
	82% { top: 0%; }
	100% { top: 7%; }	
}
*/

div#bottom {
	width: 100%;
	position: absolute;
	height: 125px;
	bottom: 0px;
}

.bush {
	height: 80%;
}

#bottom .bush img{
	position: absolute;
	bottom: -400px;
	-webkit-animation: bush-pop-in 0.7s cubic-bezier(0.215, 0.911, 0.355, 1.000) 1.5s;
	-webkit-animation-fill-mode: forwards;
	animation: bush-pop-in 0.7s cubic-bezier(0.215, 0.911, 0.355, 1.000) 1.5s;
	animation-fill-mode: forwards;
}

#left-bush img{
	left: -2%;
}

#right-bush img {
	right: -2%;
	transform: rotateY(180deg);
}

@-webkit-keyframes bush-pop-in {
	50% { bottom: 60px; }
	67% { bottom: -40px; }
	82% { bottom: 0px; }
	100% { bottom: -40px; }
}
@keyframes bush-pop-in {
	50% { bottom: 60px; }
	67% { bottom: -40px; }
	82% { bottom: 0px; }
	100% { bottom: -40px; }
}

#bottom #road {
	position: absolute;
	left: 50%;
	bottom: 0%;
	z-index: -100;
	height: 150px;
}

#road img {
	position: relative;
	left: -50%;
	height: inherit;
	/*from {*/
		-webkit-filter: opacity(0%);
		-webkit-transform: scale(1, 0.9);
		-ms-transform: scale(1, 0.9);
		filter: opacity(0%);
		transform: scale(1, 0.9);
	/*}*/
	-webkit-animation: road-fade-in 1s ease-out 2.6s;
	-webkit-animation-fill-mode: forwards;
	animation: road-fade-in 1s ease-out 2.6s;
	animation-fill-mode: forwards;
	
}

@-webkit-keyframes road-fade-in {
	to {
		-webkit-filter: opacity(100%);
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		filter: opacity(100%);
		transform: scale(1, 1);
	}
}
@keyframes road-fade-in {
	to {
		-webkit-filter: opacity(100%);
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		filter: opacity(100%);
		transform: scale(1, 1);
	}
}

/*/*div#main {
	position: absolute;
	bottom: 20%;
	width: 100%;
	height: 50%;
	border: 1px solid red;
}

#main #base {
	position: absolute;
	bottom: 0%;
	height: 25%;
	width: 100%;
}

#base img {
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 153px;
}

#main #tower {
	position: relative;
	left: 50%;
	width: 100%;
	height: 100%;
}

#tower #tower-container {
	position: absolute;
	width: 630px;
	height: 100%;
	left: -315px;
	bottom: 0%;
	border: 1px dotted black;
	text-align: center;
}

#tower-container #central-block {
	position: absolute;
	bottom: 0%;
	width: 100%;
}

#central-block img {
	width: 180px;
	height: 207px;
}


#tower-container #spire {
	position: absolute;
	bottom: 198px;
	width: 100%;
}

#spire img {
	width: 153px;
	height: 315px;
}


#tower-container #decor {
	position: absolute;
	bottom: 225px;
	width: 100%;
}

#decor img {
	width: 130.5px;
	height: 297px;
}



#tower-container #face {
	position: absolute;
	bottom: 365.4px;
	left: -0.9px;
	width: 100%;
}

#face img {
	width: 99px;
	height: 144px;
}


#tower-container #dials {
	position: absolute;
	bottom: 387px;
	width: 100%;
}

#dials img {
	width: 54px;
	height: 27px;
}*/