* {
  box-sizing: border-box;
}

html, body {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: #2B3E50;
  overflow-y: auto;
  user-select: none;
}

canvas {
  position: fixed;
  top: 0px;
  width: 100% !important;
  height: 100% !important;
  z-index: -1000;
  -webkit-filter: url("#fluid");
          filter: url("#fluid");
}

svg {
  position: fixed;
}

.circle-cluster {
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  opacity: 0.9;
  color: white;
  width: 230px;
  height: 230px;
  margin: 20px;
  border-radius: 1000px;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
      justify-content: center;
  cursor: pointer;
}

.circle-cluster:hover {
  box-shadow: 0px 0px 40px #EEEEEE;
}

.circle-events {
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  opacity: 0.9;
  color: white;
  width: 230px;
  height: 230px;
  margin: 20px;
  border-radius: 1000px;
  vertical-align: top;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
      justify-content: center;
}

.circle-events:hover {
  box-shadow: 0px 0px 40px #EEEEEE;
}

.main-clusters-container {
  width: 80%;
  text-align: center;
  margin: 5% auto 2%;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
        user-select: none;
}

.shrink {
  transform: scale(0, 0);
  transition: 0.35s;
}

.expand {
  transform: scale(1, 1);
  transition: 0.35s;
}

.select {
  transform: scale(2, 2);
  opacity: 0;
  transition: 0.35s;
}
